<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>875444143702-r58lf0mr3lu9h1hd87avqpm77ftue4sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875444143702-r58lf0mr3lu9h1hd87avqpm77ftue4sq</string>
	<key>API_KEY</key>
	<string>AIzaSyDZktVqJw55YDwBnhwG8hB3_AlUeto3rhY</string>
	<key>GCM_SENDER_ID</key>
	<string>875444143702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alperalanyali.Foursquare-Clone-Firebase</string>
	<key>PROJECT_ID</key>
	<string>foursquare-cf6a4</string>
	<key>STORAGE_BUCKET</key>
	<string>foursquare-cf6a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875444143702:ios:de9d502480ed6d02</string>
	<key>DATABASE_URL</key>
	<string>https://foursquare-cf6a4.firebaseio.com</string>
</dict>
</plist>